<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="~/Content/Responsive.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/Site.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

<!-- Nav Bar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-purple">
        <div class="container-fluid text-center align-content-center justify-content-center">
           <!-- Logo with link to Moval.edu-->
            <a class="navbar-brand" href="https://www.moval.edu/"><img class="MVC-Brand" src="~/Content/Assets/mvclogo.svg" /></a>
 
        </div>
    </nav>
    
        @RenderBody()
        <hr />
        <footer>
            <p class="mr-4">&copy; @DateTime.Now.Year - Missouri Valley College</p>
        </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
