@model CheckInPortal.Models.Student

@{ ViewBag.Title = "Check In Portal - MVC"; }
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<style>
    .MVC-Brand{
         width: 7%;
    }
    .navbar{
        z-index: 1;
    }
</style>

<!--Nav Bar--> 
<nav class="navbar navbar-expand-lg navbar-light bg-purple">
    <div class="container-fluid text-center align-content-center justify-content-center">
        <!-- Logo with link to Moval.edu-->
        <a class="navbar-brand" href="https://www.moval.edu/"><img class="MVC-Brand" src="~/Content/Assets/Collegaite Vertical White.png" /></a>

    </div>
</nav>
<section class="CheckInPage pt-4 pb-4">
    <div class="container-fluid d-flex flex-xs-column flex-sm-column flex-md-column flex-lg-row align-content-center  justify-content-center">
        <div class="row row-cols-lg-2 row-cols-md-1">
            <!-- Forms to Input Student Info-->
            <!--Column 1 -->
            <div class="col-lg-4 ">
                <div class="CheckIn bg-light justify-content-center align-content-center rounded-lg p-5">
                    <h1 class="text-left">Missouri Valley College Check-In Service</h1>
                    <hr />
                    <!--Input Group to Search Student Info-->
                    @using (Html.BeginForm("Index", "CheckIn", FormMethod.Post))
                    {
                        <form id="CheckForm" onsubmit="return false">
                            <div class="input-group mb-3">
                                @Html.TextBox("stdSearch", null, new { @class = "form-control", @id = "form-control", placeholder = "Student ID" })
                            </div>
                            <div class="input-group mb-3">
                                @Html.TextBoxFor(model => model.stdName, new { @class = "form-control", @id = "form-control", placeholder = "Student Name", disabled = "disabled" })
                            </div>
                            <div class="input-group mb-3">
                                @Html.TextBoxFor(model => model.stdEntrance, new { @class = "form-control", @id = "form-control", placeholder = "Student Entrance", disabled = "disabled" })
                            </div>
                            <div class="input-group mb-3">
                                @Html.TextBoxFor(model => model.stdResidence, new { @class = "form-control", @id = "form-control", placeholder = "Student Residence", disabled = "disabled" })
                            </div>
                            <div class="p-2 text-center">
                                <button type="submit" id="submitBtn" name="Submit" class="btn btn-primary mt-4">Submit</button>
                               
                                <button type="submit" value="Clear" name="Button" class="btn btn-Exit mt-4">Clear Data</button>

                            </div>
                        </form>
                    }

                </div>
            </div>
            <!--Colummn 2-->
            <!-- Tables where data is going to be displayed -->
            <div class="col col-lg-8">
                <div class="DataTable bg-light justify-content-center align-content-center CheckInList">
                    <h2 class="font-weight-bold">CheckList </h2>
                    <table class="table text-break">
                        <thead>
                            <tr>
                                <!--Offices-->
                                <th class="w-25" scope="col">Office</th>
                                <th class="w-25" scope="col">Status</th>
                                <th class="w-50" scope="col">What to do</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Registrar's Office (FC-133)</th>
                                <td id="tableStatus" class="tableStatus">@Html.DisplayFor(model => model.registrarOff)</td>
                                <td id="Description"> @ViewBag.regstrarMsg</td>
                            </tr>
                            <tr>
                                <th scope="row">Financial Aid (FC-126C)</th>
                                <td class="tableStatus ">@Html.DisplayFor(model => model.finAid)</td>
                                <td>@ViewBag.finAidMsg</td>
                            </tr>
                            <tr>
                                <th scope="row">Business Office (FC-126B)</th>
                                <td class="tableStatus">@Html.DisplayFor(model => model.bussOff)</td>
                                <td>@ViewBag.bussOffMsg</td>
                            </tr>
                            <tr>
                                <th scope="row">Admissions (FC-126A)</th>
                                <td class="tableStatus">@Html.DisplayFor(model => model.admissions)</td>
                                <td>@ViewBag.admissionsMsg</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <!-- Student Affairs Section of the Table-->
                    <h2 class="font-weight-bold">Student Affairs</h2>
                    <table class="table text-break">
                        <thead>
                            <tr>
                                <th class="w-25" scope="col">Office</th>
                                <th class="w-25" scope="col">Status</th>
                                <th class="w-50" scope="col">What to do</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Consent to Treat</th>
                                <td>@Html.DisplayFor(model => model.consenTreat)</td>
                                <td>@ViewBag.consenTreatMsg</td>

                            </tr>
                            <tr>
                                <th scope="row">Medical Alert Info</th>
                                <td>@Html.DisplayFor(model => model.medicalAlert)</td>
                                <td>@ViewBag.medicalAlertMsg</td>
                            </tr>
                            <tr>
                                <th scope="row">Immunizations</th>
                                <td>@Html.DisplayFor(model => model.immunizations)</td>
                                <td>@ViewBag.immunizationsMsg</td>
                            </tr>
                            <tr>
                                <th scope="row">Emergency Contact</th>
                                <td>@Html.DisplayFor(model => model.emergContact)</td>
                                <td>@ViewBag.emergContactMsg</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <!-- End Row 1 -->
        </div>
    </div>

</section>
